site_name: "Leopard-EM: Two-Dimensional Template Matching in Python"
theme:
  name: material
plugins:
  - search
  - autorefs
  - mkdocs-jupyter
  - inline-select-svg
  - mkdocs-autoapi:
      autoapi_dir: src
  - mkdocstrings:
      enabled: !ENV [ENABLE_MKDOCSTRINGS, true]
      handlers:
        python:
          paths:
            - src
          options:
            docstring_style: numpy
  - gallery:
      examples_dirs: docs/examples
      gallery_dirs: docs/generated/gallery
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - mdx_math
  - footnotes
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML
nav:
  - Home: index.md
  - generated/gallery
  - Programs:
    - Overview:                   programs/overview.md
    - Match Template details:     programs/match_template.md
    - Refine Template details:    programs/refine_template.md
    - Optimize Template details:  programs/optimize_template.md
    - Constrained Search details: programs/constrained_search.md
  - Program Output Formats: data_formats.md
  - Examples:
    - Match Template Configuration: examples/basic_configuration.ipynb
  #   - Analyzing Match Template Results: examples/analyzing_results.md
  # - Pydantic Model API: api/pydantic_models.md
  # - Backend API: api/backend.md
  # - Theory: theory.md
  - Contributing: contributing.md